<html>
<title><%= title %></title>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="bitcoin, blockchain, blockbit, coin, crypto, currency, public ledger">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700italic' rel='stylesheet' type='text/css'>
    <!-- Google Analytics Script -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52831715-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Script -->
  </head>

  <body>
    <img alt="full-screen background image" src="/images/blurred2.jpg" id="full-screen-background-image" />
  	<center><h1><%= title %></h1></center>
    <center><p><%= find %></p></center>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <br />
    <br />
    <center><input name="WalletAddress" size="60" placeholder="Enter any bitcoin address here ... "></input>
      <button id="search" style="width:75px">Search</button>
      <button style="width:75px"><a href="/" id="clear">Clear</a></button><br />
      <div id="firstline"></div>
      <div id="balance"></div>
      <div id="sent"></div>
      <div id="hashdata"></div><br />
      <div id="pic"></div>
      <br />
      <br />
      <br />
      <footer>
        <p>Powered by <a href="http://www.chain.com" target="_blank">Chain.com</a></p>
          <p>Made by <a href="https://github.com/TheCuriousCorporation/Blockbit" target="_blank">cponeill</a></p>
          <p><%= version %></p>
        </footer>
      </body>
    </html>