<html><head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <img alt="full-screen background image" src="/images/blurred2.jpg" id="full-screen-background-image" />
  	<center><h1><%= title %></h1></center>
    <center><p><%= find %></p></center>
<script type="text/javascript">
  $(document).ready(function() {
    $('#search').click(function() { // When the search button is pushed
      var addr = $('input[name=WalletAddress]').val(); // The address that is typed in should be assigned to the variable "addr"
      var symbol = "/images/Symbol.jpg";
      $.ajax({
        url: 'https://api.chain.com/v1/bitcoin/addresses/' + addr,
        type: 'GET',
        beforeSend: function (xhr) {
          xhr.setRequestHeader ('Authorization', 'Basic '+btoa('05e17b4bd6bf6ecd3df2947c027ce523'));
        },
        success: function(data) {
          var BTCBalance = data.balance / 100000000.0;
          var BTCSent = data.sent / 100000000.0;
          var BTCReceived = data.received / 100000000.0;

          //$('#address').text("Here is the Wallet Address: " + addr);
          $('#results').empty();
          $('#lines').append("<br />");
          $('#balance').append("<h3>Balance: $" + BTCBalance + "</h3>");
          $('#sent').append("<h3>Sent: $" + BTCSent + " <img src='/images/CircleBitcoin.png' /></h3>");
          $('#received').append("<h3>Received: $" + BTCReceived + "</h3>");
        },
        error: function(req, msg, err) {
          console.log(err);
        }
      });
    });
  });
</script>
<br />
<br />
<center><input name="WalletAddress" size="50" placeholder="Enter any bitcoin address here ... "></input>
<button id="search" style="width:75px">Search</button>
  <button style="width:75px"><a href="/" id="clear">Clear</a></button><br />
  <!-- <div id="address"></div><br /> -->
  <div id="lines"></div>
  <div id="balance"></div>
  <div id="sent"></div>
  <div id="received"></div><br />
  <div id="results"></div><br />
  <footer>
  <p>Powered by <a href="http://www.chain.com">Chain.com</a>
  <p>Made by the <a href="http://www.github.com/thecuriouscorporation">The Curious Corporation</a></p>  
  </footer>
</body></html>