<html><head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
  	<center><h1><%= title %></h1></center>
<script type="text/javascript">
  $(document).ready(function() {
    $('#search').click(function() { // When the search button is pushed
      var addr = $('input[name=WalletAddress]').val(); // The address that is typed in should be assigned to the variable "addr"
      $.ajax({
        url: 'https://api.chain.com/v1/bitcoin/addresses/' + addr,
        type: 'GET',
        beforeSend: function (xhr) {
          xhr.setRequestHeader ('Authorization', 'Basic '+btoa('API Key'));
        },
        success: function(data) {
          var BTCBalance = data.balance / 100000000.0;
          var BTCSent = data.sent / 100000000.0;
          var BTCReceived = data.received / 100000000.0;

          //$('#address').text("Here is the Wallet Address: " + addr);
          $('#results').empty();
          $('#lines').append("------");
          $('#balance').append("Balance: " + BTCBalance + " BTC");
          $('#sent').append("Sent: " + BTCSent + " BTC");
          $('#received').append("Received: " + BTCReceived + " BTC");
        },
        error: function(req, msg, err) {
          console.log(err);
        }
      });
    });
  });
</script>
<br />
<br />
<center><input name="WalletAddress" size="42"></input>
<button id="search">Search</button><br />
  <!-- <div id="address"></div><br /> -->
  <div id="lines"></div>
  <div id="balance"></div><br />
  <div id="sent"></div><br />
  <div id="received"></div><br />
  <div id="results"></div><br />

</body></html>